[Unit]
After=network.target
Description=Starts JNLP Connection to Master Jenkins

[Service]
User=jenkins
ExecStart=/bin/bash -c "source /var/lib/jenkins/bin/launch-agent.sh && java -jar /var/lib/jenkins/bin/agent.jar -jnlpUrl https://{{ jenkins_master }}:8443/computer/{{ host }}/slave-agent.jnlp -secret {{ slave_secret }}"
Restart=on-failure

[Install]
WantedBy=multi-user.target
